.ws__intro {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 24;
}

.ws__intro-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.ws__intro-feature .ws__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.ws__intro-feature .ws__features-container_feature-text {
    max-width: 700px;
}


.ws__intro-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.ws__intro-container .ws__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.ws__intro-container img{
    width: 48px;
    height: 48px;
}

/* Customizing feature component as per needs */
.ws__intro-container .ws__features-container_feature-text {
    margin-top: 0.5rem;
}

.ws_intro-about-US{
    flex-direction: column;
    flex-wrap:  nowrap;
    align-items: center;
    max-width: 850px;
}

.ws_intro-about-US h3{
    text-transform: uppercase;
    font-size: 5xl;
    font-weight: normal;
    margin-bottom: 20px;
    align-self: flex-start;
}

.ws_intro-about-US p{
    font-size: medium;
    margin-bottom: 20px;
    align-self: flex-start;
    text-align: left;
}

@media screen and (max-width: 850px) {
    .ws__intro-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .ws__intro-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .ws__intro-feature .ws__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .ws__intro-feature .ws__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .ws__intro-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .ws__intro-container .ws__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}