.ws__header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: 1fr 1fr 1fr;

}

.ws__header-content {
    grid-row: 3/3;
    flex-direction: column;
}


.ws__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 75px;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.ws__header-content h3{
    text-transform: uppercase;
    color: orange.500;
    background-color: white;
    width: fit-content;
    padding: 16px 8px;
}
