.ws_cases {
flex-direction: column;
align-items: center;
margin-top: 62px;
background-image: radial-gradient(#5f6c78,#c9a07d);
}

.ws_cases-heading {
    font-size: 16px;
    margin-bottom: 32px;
    text-align: center;
}

/* 
.ws_cases-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 64px;
    padding: 0 24px;
    margin: 0 324px;
}
*/
.ws_cases-container{

    /* background-color: #5f6c78; */
    perspective: 1200px;  
    padding-top: 10%; 
    /* font-size:0;  */
    margin-bottom: 3rem; 
    overflow: hidden; 
    display: flow-root;
    width: 100%;
    padding-bottom: 102px;
}
.ws_cases-spinner{
transform-style: preserve-3d; 
height: 704px; 
transform-origin: 50% 50% -500px; 
transition: 1s; 
}
.ws_cases-spinner .ws_cases-container_article{
width: 40%; 
max-width: 425px; 
position: absolute; 
left: 30%;
transform-origin: 50% 50% -500px;
outline:1px solid transparent; 
background-color: rgba(201,164,97,0.85);
color: #fff;
font-family:  'Cormorant Garamond', serif;
}
.ws_cases-container .ss-icon{
    position: absolute;
    bottom: 398px;
    width: 38px;
    height: 38px;
    color: #ad6221;
    cursor: pointer;

}
.ws_cases-spinner  .ws_cases-container_article:nth-child(1) {  transform: rotateY(0deg);}
.ws_cases-spinner  .ws_cases-container_article:nth-child(2) { transform: rotateY(-45deg); }
.ws_cases-spinner  .ws_cases-container_article:nth-child(3) { transform: rotateY(-90deg); }
.ws_cases-spinner  .ws_cases-container_article:nth-child(4) { transform: rotateY(-135deg); }
.ws_cases-spinner  .ws_cases-container_article:nth-child(5){ transform: rotateY(-180deg); }
.ws_cases-spinner  .ws_cases-container_article:nth-child(6){ transform: rotateY(-225deg); }
.ws_cases-spinner  .ws_cases-container_article:nth-child(7){ transform: rotateY(-270deg); }
.ws_cases-spinner  .ws_cases-container_article:nth-child(8){ transform: rotateY(-315deg); }

.ws_cases-container ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
.ws_cases-container ~ span:hover { color: #888; cursor: pointer; }