.ws__team{
    flex-direction: column;
    align-items: center;
}

.ws__team-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 26px;
    padding: 0 24px;
    
}
.ws__team-container-img{
    max-width: 100%;
    width: 376px;
    height: 420px;
}
.ws_team-card{
    position: absolute;
    bottom: -35px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    width: 80%;
    background-color: white;
    border-color: #f39d00;
    border-width: 12px;
    border-style: solid;

}
.ws_team-card p{
    margin: 4px;
}
.ws_team-bgImage {
    max-width: 660px;
    position: absolute;
    top: 40%;
    left: 5%;
    border-color: white;
    border-style: solid;
    border-width: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ws_team-service-container{
    background-color: #f39d00;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3, 1fr);
}
.ws_team-service-flex{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 850px;
    color: white;
    padding: 88px 0 88px 0;
    grid-row: 1/4;
    z-index: 0;
}

.ws_team-service-flex h3{
    text-transform: uppercase;
    font-size: large;
    font-weight: bolder;
    margin-bottom: 8px;
    align-self: flex-start;
    font-size: 34px;
    font-family: 'Cormorant Garamond', serif;
    
}
.ws_team-service-flex h4{
    font-family: 'Cormorant Garamond', serif;
    font-size: large;
    font-weight: normal;
    margin-bottom: 20px;
    align-self: flex-start;
}

.ws_team-service-flex p{
    font-size: small;
    margin-bottom: 20px;
    align-self: flex-start;
    text-align: left;
    line-height: 23px;
}
/* 
@media screen and (max-width: 990px) {
    .ws__team {
        flex-direction: column;
    }

    .ws__team-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .ws__team-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
} */